@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --default-font: "Inter";
  --color-background: #fafaff;
}

:root, .light, .light-theme {
  --blue-1: #f6f8fa;
  --blue-2: #eff5f9;
  --blue-3: #e2eef8;
  --blue-4: #d1e8fa;
  --blue-5: #bedef8;
  --blue-6: #a8d2f1;
  --blue-7: #8bc1e9;
  --blue-8: #5eabe1;
  --blue-9: #3e95d0;
  --blue-10: #3089c3;
  --blue-11: #1174ac;
  --blue-12: #00385c;
  --blue-a1: #2f950005;
  --blue-a2: #1190800c;
  --blue-a3: #0680b819;
  --blue-a4: #028de12a;
  --blue-a5: #0487e33e;
  --blue-a6: #0181d554;
  --blue-a7: #027bce72;
  --blue-a8: #027dcfa0;
  --blue-a9: #0074c1c0;
  --blue-a10: #016fb5cf;
  --blue-a11: #006aa6ee;
  --blue-a12: #00385c;
  --blue-contrast: #fff;
  --blue-surface: #ecf4f8cc;
  --blue-indicator: #3e95d0;
  --blue-track: #3e95d0;
  --gray-1: #f2f8fb;
  --gray-2: #eaf6fc;
  --gray-3: #dbeef7;
  --gray-4: #cee7f3;
  --gray-5: #c1e1f0;
  --gray-6: #b4daec;
  --gray-7: #9fd1e7;
  --gray-8: #7ac0de;
  --gray-9: #4991af;
  --gray-10: #4086a3;
  --gray-11: #2b667e;
  --gray-12: #002432;
  --gray-a1: #18c28e09;
  --gray-a2: #0abed211;
  --gray-a3: #039bc020;
  --gray-a4: #018fbb2d;
  --gray-a5: #048ebf3b;
  --gray-a6: #0389bc48;
  --gray-a7: #018abe5d;
  --gray-a8: #0089bf83;
  --gray-a9: #00668eb5;
  --gray-a10: #005e84be;
  --gray-a11: #014864d4;
  --gray-a12: #002432;
  --gray-contrast: #FFF;
  --gray-surface: #fffc;
  --gray-indicator: #4991af;
  --gray-track: #4991af;
  --accent-4: var(--blue-4);
}

body {
  font-family: var(--default-font), sans-serif;
  background: var(--color-background);
  margin: 0;

  &::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    height: 480px;
    opacity: 0.6;
    background: linear-gradient(to bottom, var(--accent-4), transparent);
    z-index: -1;
  }
}

.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Layout__Header {
  display: flex;
  color: var(--blue-12);
  padding: 16px;
  font-weight: 500;
  font-size: 13px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.Layout__Content {
  flex: 1;
  padding: 16px;
  width: 680px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (width <= 712px) {
    width: 100%;
  }
}

.Layout__Footer {
  text-align: center;
  padding: 16px;
  font-size: 13px;
  color: var(--gray-12);
}

/* == Header */

.Header {
  justify-content: center;
  display: flex;
  gap: 24px;
  background: linear-gradient(rgb(255 255 255 / 75%) 0%, rgb(255 255 255 / 0%) 100%);
  backdrop-filter: blur(8px);
}

.Header__Link {
  color: var(--blue-10);
  text-decoration: none;

  &:hover {
    color: var(--blue-12);
  }
}


/* == LeagueList */
.LeagueList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.LeagueList__Title {
  font-size: 35px;
  font-weight: 600;
  color: #3e4553;
  align-self: center;
  background: linear-gradient(to right, #8520c8 0%, #628cdf 50%, #47978d 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.LeagueList__Loading {
  display: flex;
  padding: 0 0 0 32px;
}

.LeagueList__Filters {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  padding: 12px;
  background: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 1px 2px rgb(3 7 18 / 8%);
}

.Input {
  border: 0;
  box-shadow: 0 0 0 1px var(--gray-a7);
  font-size: 16px;
  font-family: var(--default-font), sans-serif;
  letter-spacing: -0.412px;
  border-radius: 4px;
  padding: 8px 12px;
}

.LeagueList__Search {
  border: 0;
  box-shadow: 0 0 0 1px var(--gray-a7);
  font-size: 16px;
  font-family: Inter, sans-serif;
  letter-spacing: -0.412px;
  border-radius: 4px;
  padding: 8px 12px;
  flex: 1;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--gray-a8);
  }
}

.LeagueList__SportTypeFilter {
  border: 0;
  box-shadow: 0 0 0 1px var(--gray-a7);
  font-size: 16px;
  font-family: Inter, sans-serif;
  letter-spacing: -0.412px;
  border-radius: 4px;
  padding: 8px 12px;
  flex: 1;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--gray-a8);
  }
}

.LeagueList__NoResults {
  color: var(--blue-9);
  font-size: 20px;
  text-align: center;
  font-family: var(--default-font), sans-serif;
  letter-spacing: -0.412px;
  padding: 24px 0;
}

.LeagueList__Leagues {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* == League */
.League {
  align-items: center;
  display: flex;
  gap: 16px;
  background: #fff;
  border-radius: 10px;
  padding: 12px 12px 16px;
  position: relative;
  overflow: hidden;
  transition: scale 0.1s ease-in-out;
  cursor: pointer;
  box-shadow: 0 1px 2px rgb(3 7 18 / 8%);


  &::before {
    font-size: 48px;
    opacity: 0.8;
    line-height: 48px;
    display: block;
    height: 48px;
    overflow: hidden;
    padding: 8px 0 0;
  }

  &:hover {
    scale: 1.03;
  }
}

.League--Soccer::before { content: '⚽'; }
.League--Motorsport::before { content: '🏁'; }
.League--Basketball::before { content: '🏀'; }
.League--IceHockey::before { content: '🏒'; }
.League--AmericanFootball::before { content: '🏈'; }

.League__Name {
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin: 0 0 8px;
  color: #3e4553;
}

.League__Meta {
  align-items: center;
  display: flex;
  gap: 8px;
}

.League__Category {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #6d9bfa;
  background: #eff2f9;
  box-shadow: 0 0 0 1px #628cdf;
  padding: 2px 4px;
  border-radius: 4px;
}

.League__AlternateNames {
  display: flex;
  gap: 8px;
}

.League__AlternateName {
  color: #667085;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-style: italic;
}

/* == Season Badge display */

dialog, ::backdrop {
  /** JetBrains IDE doesn't understand allow-discrete */

  /* noinspection CssInvalidPropertyValue */
  transition:
    display .3s allow-discrete,
    overlay .3s allow-discrete,
    filter .3s allow-discrete,
    transform .3s allow-discrete,
    backdrop-filter .3s allow-discrete,
    opacity .7s;
}

.SeasonBadgeDisplay {
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  border-radius: 16px;
  padding: 16px;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(-30px) scale(1.05);
  background: rgb(255 255 255 / 50%);
  backdrop-filter: blur(10px);
  border: 0;
  box-shadow:
    0 1px 1px rgb(3 7 18 / 2%),
    0 5px 4px rgb(3 7 18 / 3%),
    0 12px 9px rgb(3 7 18 / 5%),
    0 20px 15px rgb(3 7 18 / 6%),
    0 32px 24px rgb(3 7 18 / 8%);


  &[open] {
    display: flex;
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) scale(1);

    &::backdrop {
      opacity: 1;
      backdrop-filter: blur(2px);
    }

    @starting-style {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(-30px) scale(1.05);
    }
  }

  &::backdrop {
    background: rgb(20 20 20 / 35%);
    backdrop-filter: blur(2px);
    opacity: 0;

    @starting-style {
      backdrop-filter: blur(0);
      opacity: 0;
    }
  }
}

.SeasonBadgeDisplay__CloseButton {
  background: transparent;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  color: var(--blue-9);
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 30px;
  border: 0;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: var(--color-background);
  }
}

.SeasonBadgeDisplay__Loading {
  display: flex;
}

.SeasonBadgeDisplay__Content {
  width: 360px;
  height: 360px;
}

.SeasonBadgeDisplay__Image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* == Loading animation */

@keyframes loading-animation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.Loading {
  display: flex;
  align-items: center;
  color: #47978d;
  position: relative;
  padding: 0 0 0 32px;

  &::before,
  &::after {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 1;
  }

  &::after {
    background: #8520c8;
    animation: loading-animation 0.5s infinite ease-out;
  }

  &::before {
    background: #628cdf;
    animation: .3s loading-animation 1.3s infinite ease-out;
  }
}